/* @import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/all.css'; */

:root {
  --p1: #ffb6c1;
  --p2: #afe1af;
  --p3: #87ceeb;
  --p4: #708090;
  --bg: #f0f0f0;
  --secondary-bg: #4b4b4b;
  --yellow: #ffc300;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--bg);
}

header {
  background-color: var(--secondary-bg);
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.priority-filter {
  background-color: var(--bg);
  color: var(--secondary-bg);
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.priority-filter .box:hover {
  box-shadow: 0 0 5px 0 var(--p4);
}
.priority-filter .box {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.p1 {
  background-color: var(--p1);
}
.p2 {
  background-color: var(--p2);
}
.p3 {
  background-color: var(--p3);
}
.p4 {
  background-color: var(--p4);
}

.quick-action {
  background-color: var(--bg);
  color: var(--secondary-bg);
  margin: 10px 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.quick-action .icon:hover {
  box-shadow: 0 0 5px 0 var(--p4);
}
.quick-action .icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background-color: var(--secondary-bg);
  line-height: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-action .icon.add {
  color: greenyellow;
}
.quick-action .icon.remove {
  color: red;
}

main h1 {
  color: var(--secondary-bg);
  margin: 10px 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal {
  width: 50vw;
  height: 50vh;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
}

.modal .left-section {
  width: calc(100% - 70px);
  height: 100%;
  display: flex;
}

.modal .right-section {
  width: 70px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.modal .left-section textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.modal .right-section .priority-filter {
  flex-direction: column;
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.modal .right-section .priority-filter .box {
  width: 100%;
  height: 20%;
}
.modal .right-section .priority-filter .box.selected {
  border: 1px solid black;
}

.modal .right-section .icon {
  position: absolute;
  right: -5px;
  top: -5px;
  color: red;
  cursor: pointer;
}

.hide {
  display: none;
}

.ticket-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.ticket-container {
  width: 20vh;
  height: 20vh;
  min-height: 100px;
  min-width: 100px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
}
.ticket-container .ticket-priority {
  width: 100%;
  height: 10%;
  border-radius: 10px 10px 0 0;
}

.ticket-container .ticket-priority.p1 {
  background-color: var(--p1);
}
.ticket-container .ticket-priority.p2 {
  background-color: var(--p2);
}
.ticket-container .ticket-priority.p3 {
  background-color: var(--p3);
}
.ticket-container .ticket-priority.p4 {
  background-color: var(--p4);
}

.ticket-container .ticket-id {
  width: 100%;
  height: 20%;
  background-color: var(--yellow);
  padding: 0px 5px;
  box-sizing: border-box;
}
.ticket-content {
  width: 100%;
  height: 40%;
}
.ticket-content textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  resize: none;
  color: white;
}

.ticket-container .ticket-lock {
  color: white;
  width: 100%;
  /* height: 70%; */
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0px;
}

.icon {
  padding: 10px;
  cursor: pointer;
}

.ticket-lock.locked .icon.fa-solid.fa-lock {
  display: block;
}
.ticket-lock .icon.fa-solid.fa-lock {
  display: none;
}
.ticket-lock.locked .icon.fa-solid.fa-lock-open {
  display: none;
}
.ticket-lock .icon.fa-solid.fa-lock--open {
  display: block;
}
